.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
 
    flex-direction: column;
    
}

.firstContainer {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
    height: 10%;
    align-items: center;
}

.firstContainer input{
    margin: 0rem 2rem;
    border-radius: 1rem;
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    font-size: small;
    direction: rtl;
    text-align: right;
    box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
    font-family:IRANSansFarsi;
    padding: .5rem;
}

