.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    width: 100%;
}

.container input{
    margin: 1rem 0;
}

.btn{
    margin-top: 3rem;
    width: 12%;
    text-align: center;
    align-self:flex-end;
}