.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container input {
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: .5rem;
    width: 200px;
    height: 40px;
    margin-bottom: 2rem;
    font-size: small;
    direction: rtl;
    text-align: right;
    box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
}