
.mainContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
}


.colorpicker{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.colorpickerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.colorpickerContainer div{
    width: 75%;
}

.colorpickerContainer p {
    width: 20%;
    direction: rtl;
    font-weight: bold;
}


.nameLable{
    color: #767676;
    background-color: #c1c1c1;
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    float: right;
}
.inputContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.inpte{
    width: 96%;
}

