.btn{
    
    color: white !important;
    font-weight: bold;
}

.colorPickerMainContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
}

.colorpickerContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
}
/* .colorpickerContainer{
    display: flex;
    width: 100%;
  
    margin: 0 1rem;
    align-items: center;
} */

.colorpickerContainer div{
    width: 90%;
    margin-right: 1rem;
}
.colorpickerContainer p{
    text-align: right;
    width: 17%;
}

.colorpickerContainer span{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.modal input{
    margin: 8px 0;
}

.space select{
    padding: 5px;
    border: .5px solid silver;
    cursor: pointer;
}

.space select:disabled{
    background-color: #ccc;
    cursor: default;
}

.link{
    text-align: right;
    direction: rtl;
}