.formContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link{
    direction: ltr;
    text-align: left;
}

.link::placeholder{
    direction: rtl;
    text-align: right;
}