.mainContainer{
    width: 90%;
    text-align: right;
}

.card{
    width: 100%;
    min-height: 300px;
    
}

.typesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.editBtn{
    width: 10%;
    margin-top: 1rem;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

