.btn{
    width: 50%;
    margin-top: 1rem;
}

.input{
    margin: .5rem 0;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal p{
    text-align: right;
    margin: 0;
    margin-top: .5rem;

}

.modal input{
    direction: ltr;
    text-align: left;
}