.toolbar{
    width: 100%;
    border-bottom: 1px solid silver;
    border-radius: 1rem;
}

.wrapper{
   width: 90%;
    height: 60px;
    border-radius: 1rem;
}

.editor{
    width: 100%;
    height: 100%;
    direction: rtl;
    overflow-y: hidden;
    text-align: right;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}