.select{
    width: 200px;
    height: 30px;
    z-index: inherit;
    direction: rtl;
    text-align: right;
}


.selectContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.input{
    margin: 1rem 0;
}


.btn{
    margin-right: 1rem;
}

.modal{
    display: flex;
    flex-direction: column;
    
}

.modal label{
    align-items: flex-end;
}