// Here you can add other styles
@media (min-width: 768px){
    html:not([dir=ltr]) .sidebar.sidebar-fixed:not(.sidebar-end) {
        right: 0px !important;
        left: auto !important;
    }
    html:not([dir=rtl]) .sidebar.hide:not(.sidebar-end) {
        margin-right: calc(-1 * var(--cui-sidebar-width));
        margin-left: auto;
    }
}

html:not([dir=rtl]) .sidebar:not(.sidebar-end) {
    // margin-right: 0 !important;
    margin-left: auto !important;
}

html:not([dir=rtl]) .sidebar {
    border-right: var(--cui-sidebar-border-width, 0) solid var(--cui-sidebar-border-color, transparent);
    border-left: none
}

@media (min-width: 768px){
    
  
}
